<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <header class="pt-5 pr-4">
      {% include logo.html %}
      <div class="inline-block mb-4 text-xl font-bold align-middle cursor-pointer">Menu

        <div class="inline-block align-middle">
          {% include icons/chevron-down.html %}
        </div>
      </div>
      <div class="border-t-2 border-gray-200 h-0"></div>
      <div class="px-4 py-3 space-x-2">
        <a href="/en/about" class="text-sm text-light-red">About</a>
        <a href="/en/jobs" class="text-sm">Jobs</a>
      </div>
    </header>
    <div class="page">
      <main>
        <div class="flex justify-center items-center mx-1/12vw mb-1/12vw min-h-screen bg-cover bg-center bg-no-repeat" style="background-image: url('/assets/images/header.jpg')">
          {% include ableton-logo.html %}
        </div>
        {% capture section %}
        {% include components/section-heading.html text='We make <a href="/live" class="text-pure-blue">Live</a>, <a href="/push" class="text-pure-blue">Push</a> and <a href="/link" class="text-pure-blue">Link</a> &mdash; unique software and hardware for music creation and performance. With these products, our community of users creates amazing things.' %}
        <p>
        Ableton was founded in 1999 and released the firt version of Live in 2001. Our products are used by a community of dedicated musicians, sound designers, and artists from across the world.
        </p>
        {% endcapture %}
        {% include components/section.html body=section %}

        <div class="mb-1/12vw py-1/12vw relative">
          <div class="absolute top-0 z-0 bg-lemonade w-7/12vw h-7/12vw left-5/12vw"></div>
          <div class="inline-block bg-center bg-cover ml-1/12vw w-5/12vw h-5/12vw z-10 relative align-middle" style="background-image: url('/assets/images/photo-1.jpg');"></div>
          <div class="inline-block w-1/3vw h-1/4vw ml-1/12vw bg-cover bg-center z-10 relative align-middle" style="background-image: url('/assets/images/photo-2.jpg');"></div>
        </div>

        {% capture section %}
        {% include components/section-heading.html text="Making music isn't easy. It takes time, effort, and learning. But when you're in the flow, it's incredibly rewarding" %}
        <p>We feel the same way about making Ableton products. The driving force behind Ableton is our passion for what we make, and the people we make it for.</p>
        {% endcapture %}
        {% include components/section.html body=section %}

        {% assign play_svg = site.data.svgs["play"] %}
        <div class="mx-1/12vw mb-1/12vw">
          <div class="relative aspect-w-16 aspect-h-9">
            <img class="absolute top-0 left-0 w-full h-full pointer-events-none z-10 object-cover" src="/assets/images/poster-juanpe.jpg" alt="">
            <span
              class="z-20 absolute top-1/2 left-1/2 w-75px h-75px -translate-x-1/2 -translate-y-1/2 bg-no-repeat bg-center bg-cover cursor-pointer transform"
              style="background-image: url({{play_svg.url}})"></span>
          </div>
          <p class="text-sm mt-2">Why Ableton - Juanpe Bolivar</p>
        </div>
        {% capture section %}
        {% include components/section-heading.html text="We are more than 350 people from 30 different countries divided between our headquarters in Berlin and our offices in Los Angeles and Tokyo." %}
        <p>Most of us are active musicians, producers, and DJs, and many of us use Live and Push every day. We come from a wide range of cultural and professional backgrounds. Some of us have PhDs, some are self-taught, and most of us are somewhere in between. What connects us is the shared belief that each of us has the skills and knowledge to contribute to something big: helping to shape the future of music culture.</p>
        {% endcapture %}
        {% include components/section.html body=section %}
        <div class="relative mb-1/12vw p-1/12vw">
          <div class="absolute bg-spearmint top-0 z-0 w-5/12vw h-3/4vw left-0"></div>
        </div>

        {% capture section %}
        {% include components/section-heading.html text="We believe it takes focus to create truly outstanding instruments. We only work on a few products and we strive to make them great." %}
        <p>
        Rather than having a one-size-fits-all process, we try to give our people what they need to work their magic and grow. We’ve learned that achieving the best results comes from building teams that are richly diverse, and thus able to explore problems from a wider set of perspectives. We don’t always agree with each other, but opinion and debate are valued and openly encouraged.
        </p>
        {% endcapture %}
        {% include components/section.html body=section %}

        <div class="text-center bg-pale-yellow h-12"> Images here </div>
        {% capture section %}
        {% include components/section-heading.html text="We’re passionate about what we do, but we’re equally passionate about improving who we are." %}
        <p>
        We work hard to foster an environment where people can grow both personally and professionally, and we strive to create a wealth of opportunities to learn from and with each other.
        </p>
        <p>
        Alongside an internal training program, employees are actively supported in acquiring new knowledge and skills, and coached on applying these in their daily work. In addition, staff-organized development and music salons are a chance to discuss new technologies, production techniques and best practices.
        </p>
        {% endcapture %}
        {% include components/section.html body=section %}
        <div class="text-center bg-pale-yellow h-12"> Images here </div>
        {% capture section %}
        {% include components/section-heading.html text="We want our employees to love it here. Since we’re looking for exceptional talent from around the world, we will do everything we can to make your transition as easy as possible." %}
        <p>
        If you're joining us in Berlin, we'll help with relocation and paperwork. We’ll even provide you with free German or English lessons. Plus, working in Germany means you can expect comprehensive health insurance for you and your family, as well as generous maternity and paternity leave. Office hours are flexible, but it’s not all work; we have several company and team outings throughout the year as well as a variety of fun, informal small-group activities.
        </p>
        {% endcapture %}
        {% include components/section.html body=section %}

        <div class="bg-no-repeat bg-cover bg-center mx-1/12vw h-1/2vw" style="background-image: url('/assets/images/photo-8.jpg')"></div>
        <div class="flex justify-center items-center mx-1/12vw p-1/12vw bg-periwinkle">
          <h3 class="section-heading">
            We’re really proud of the work we’ve done so far. But there’s so much more to come. If you’d like to be a part of it, please join us.
            <a class="block mt-4 text-pure-blue" href="/jobs">See latest jobs {% include icons/chevron-right.html %}</a>
          </h3>
        </div>
      </main>
      <footer></footer>
    </div>
  </body>
</html>
